@use "~/styles/base/variables";

$width-wrap: 345px;

.wrap {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  max-width: 425px;
  width: $width-wrap;
  border-radius: 24px;
  border: 1px solid variables.$border-color-light;
  padding: 40px;
}

.login-heading {
  margin-bottom: 24px;
}

.login-heading-img {
  width: 140px;
  height: 28px;
  object-fit: cover;
}

.login-subheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.login-subheading-title {
  font-size: 32px;
  font-weight: 600;
}

.login-subheading-button {
  border-radius: 8px;
  background-color: variables.$color-vessel;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-subheading-button:hover {
  background-color: variables.$border-color-light;
}

.login-form {
  margin-bottom: 24px;
}

.login-form-label {
  display: block;
  margin-bottom: 8px;
}

.login-form-input {
  display: block;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid variables.$border-color-light;
  width: 100%;
  font-size: 16px;
  line-height: calc(48px - 24px);
  font-weight: 600;
}

.login-form-input::placeholder {
  color: variables.$color-placeholder;
}

.login-form-input:hover,
.login-form-input:focus {
  border-color: variables.$primary-color-hover;
}

.login-button {
  text-align: center;
  width: 100%;
  line-height: 48px;
  font-size: 16px;
  background-color: variables.$primary-color;
  border-radius: 12px;
  padding: 0 15px;
}

.login-input {
  max-width: calc($width-wrap - 32px);
  margin-bottom: 16px;
}

.login-input:last-child {
  margin-bottom: 0;
}

.signup-input-visible-password:hover {
  color: variables.$primary-color-hover;
}

.login-button.loading {
  opacity: 0.8;
}
