@use "~/styles/base/variables";

.wrap {
  min-height: 32px;
  border-radius: 8px;
  background-color: variables.$primary-color;
  padding: 0 12px;
  line-height: 32px;
  width: fit-content;
  text-align: center;
}

.wrap:hover {
  opacity: 1;
}

.wrap:active {
  transform: scale(0.95);
}
