$text-color-light: #000000;
$text-color-secondary-light: #b7bdc6;
$text-color-third-light: #707a8a;
$text-description: #474d57;
$color-error: #e33b54;
$color-success: #2ebd85;

$primary-color: #fcd535;
$primary-color-hover: #f0b90b;
$background-color-light: #ffffff;
$border-color-light: #d8dce1;
$color-placeholder: #b7bdc6;
$color-vessel: #fafafa;
$secondary-color: #6c757d;

$font-family: "IBM Plex Sans", serif;
$font-size: 14px;
$font-weight: 500;
